.digitacao:disabled{
    background-color: #b8b8b8;
}
.digitacao{
    font-size: 1.2em;
    min-height: 10em;
}
.informacoes, .info-digitacao{
    font-size: 1.2em;
}
.frase{
    font-size: 1.5em;
}
.icones{
    vertical-align: middle;
}
.timer-on::before{
    content: "timer";
}
.timer-off::before{
    content: "timer_off";
}
.palavras-icone::before{
    content: "description";
}
.char-type::before{
    content: "keyboard";
}
.word-type::before{
    content: "assessment";
}
.stop-game::before{
    content: "stop";
}
.show-placar:before{
    content: "assignment";
}
.reset-game::before{
    content: "restore";
}
.shuffle-phrase::before{
    content: "shuffle";
}
.select-phrase::before{
    content: "repeat_one";
}
#select-phrase-input{
    width: 60px;
}
.digitacao-errada{
    border: .2em solid rgb(255, 38, 38);
    background-color: rgb(255, 182, 182);
}
.digitacao-correta{
    border: .2em solid rgb(57, 194, 57);
    background-color: rgb(220, 255, 220)
}
.placar{
    display: none;
}
.fail{
    border: 1px solid #ff5959;
    background-color: #ffd1d1;
    padding: 1em;
    color: red;
    text-align: center;
}
.load{
    position:fixed;
    top: 50%;
    left: 50%;                                                                                                                                                                                                                                                                                                                                                  
    animation: spin 2s infinite;
    animation-timing-function: linear;
    width: 50px;
    height: 50px;
    background-image: url("../img/load.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    box-shadow: 0 0 0 9999px rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
}
@keyframes spin{
    from{ transform: translate(-50%) rotate(0deg)}
    to{ transform: translate(-50%) rotate(360deg)}
}